<div>
    <h1 class='titulo-carrito'>Productos del carrito</h1>
    <input type="hidden" id="cartId" value="{{busquedaCarrito._id}}">




        {{#each busquedaCarrito.products}}
    <div class='div-carrito'>
        <div class='palabras-iconos'>
            <div class='contenido-cart'>
                <h1 class='color'>Cantidad: {{{this.quantity}}}</h1>
                <h1 class='color'>Precio por unidad: $ {{{_id.price}}} </h1>

            </div>
            <div class='botones-carrito'>
                
            </div>
        </div>
        <h1 class='color titulo-producto-carrito'>{{{_id.title}}}</h1>
        <img class='imagen-carrito' src='' />
    </div>
    {{/each}}

    <div class='totales'>
        
    </div>

    <div class="btns-sesion">
        <button class="boton-finalizador" id="purchase" >Finalizar compra</button>
        


      </div>

</div>

<script src="/static/js/purchase.js"></script>
