<div class="div-title">
<h2 class="title">Cargar producto</h2>
<div class="div-form">
<form class="form-register"  action="/form-products" method="post">
     <input class="register" placeholder='title' type="text" name="title">
    <br>
     <input class="register" placeholder='description' type="text" name="description">
    <br>
     <input class="register" placeholder='Price' type="number" name="price">
    <br>
     <input class="register" placeholder='thumbnail' type="text" name="thumbnail">
    <br>
     <input class="register" placeholder='code' type="number" name="code">
    <br>
     <input class="register" placeholder='stock' type="number" name="stock">
    <br>
    <button class="boton-finalizador" type="submit">Enviar</button>
</form>
</div>
</div>

