<div class="div-title">
  <h1 class='titulo-carrito'>Iniciar sesion</h1>
  <div class="div-form">
    <form class="form-register" action="/api/session/login" method="post">
      <input class="register" placeholder='email' type="text" name="email">
      <br>
      <input class="register" placeholder='contraseña' type="text" name="password">
      <br>
      <div class="btns-sesion">
        <button class="boton-finalizador" type="submit">Enviar</button>
        <a href="/register" class="boton-finalizador btn-enlace">Registrarse</a>
        <a href="/api/session/login-github" class="boton-finalizador btn-enlace"><i class="bi bi-github"></i></a>


      </div>

    </form>
  </div>
</div>