{{!-- <h1>Profile</h1> --}}
<div class="div-profile">
<h1 class="profile">{{first_name}} {{last_name}}</h1>
<h3 class="profile">{{email}}</h3>
<h4 class="profile">Rol: {{rol}}</h4>
<button class="boton-finalizador padding" > <a class="enlace-finalizador" href="/logout">Cerrar sesion</a></button>
</div>
