

<div class="div-title">
<h2 class="title">Registrarse</h2>
<div class="div-form">
<form class="form-register"  action="/api/session/register" method="post">
     <input class="register" placeholder='nombre' type="text" name="first_name">
    <br>
     <input class="register" placeholder='apellido' type="text" name="last_name">
    <br>
     <input class="register" placeholder='Edad' type="number" name="age">
    <br>
     <input class="register" placeholder='email' type="email" name="email">
    <br>
     <input class="register" placeholder='contraseña' type="text" name="password">
    <br>
    <button class="boton-finalizador" type="submit">Enviar</button>
</form>
</div>
</div>