
<h1 class='titulo-carrito'>Datos de tu compra</h1>

<div class="div-profile">
 <h5 class="card-title">Codigo de compra {{ticket.code}}</h5><br>
 <h5 class="card-title">Monto: ${{ticket.amount}}</h5><br>
 <h5 class="card-title">Contacto: {{ticket.purchaser}}</h5>

</div>